<a href="https://colab.research.google.com/github/hhaemin/02/blob/master/Class_prep_08_Loop2_for_else_continue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### for문 여러개의 변수를 할당하기

In [1]:
corp = ['google','facebook','apple','tesla']
prod = ['chrome','libra','iphone','e-car']
rank = [1, 3, 2, 4]

for c, p, r in zip(corp, prod, rank):
    print(c, p, r)

google chrome 1
facebook libra 3
apple iphone 2
tesla e-car 4

In [2]:
for i, j in enumerate(zip(corp,prod)):
  print(i,j)
  #print(i,j[0],j[1])

0 ('google', 'chrome')
1 ('facebook', 'libra')
2 ('apple', 'iphone')
3 ('tesla', 'e-car')

#### for문 continue
    - continue를 사용 : for문의 조건문으로 돌아가서 루프를 실행(다음 순서로 진행)

In [4]:
ls = [1, 2, 3, 4, 5]
for i in ls:
  if i % 2:
    print("홀수는 패스")
    continue
  print(i)

홀수는 패스
2
홀수는 패스
4
홀수는 패스

#### 중첩 for문

In [5]:
# 구구단 전체 출력해보기
for i in range(1,10):
  print()
  for j in range(2,10):
    print("{} X {} = {}".format(j,i,j*i), end="\t")

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

#### list comprehension
    - list 데이터를 만들 때 for문을 이용하여 생성
    - 속도가 빠르고 ram을 적게 사용

In [6]:
ls = [11, 12, 13, 14]
# ls2 = ls ** 2 # 연산이 불가능

ls2 = []
for i in ls:
  ls2.append(i**2)
ls2

[121, 144, 169, 196]

In [8]:
ls3 = [i**2 for i in ls]
ls3

[121, 144, 169, 196]

In [9]:
[data if data %2 else "짝수" for data in range(10) ]

['짝수', 1, '짝수', 3, '짝수', 5, '짝수', 7, '짝수', 9]

In [10]:
ls4 = list()
for data in range(10):
  if data % 2:
    ls4.append(data)
  else:
    ls4.append("짝수")
ls4

['짝수', 1, '짝수', 3, '짝수', 5, '짝수', 7, '짝수', 9]

#### quiz
    이중 for문을 이용하여 2차원 배열의 원소들 합을 1차원으로 나타내기

In [11]:
m1 = [[2, 4], [6, 8]]
m2 = [[1, 3], [5, 7]]
res = []

for i in range(len(m1)):
    for j in range(len(m2)):
        res.append(m1[i][j] + m2[i][j])
res

[3, 7, 11, 15]

In [13]:
res2=[m1[i][j]+m2[i][j] for i in range(len(m1)) for j in range(len(m2))]

print(res2)

[3, 7, 11, 15]